{% extends "base.html" %}
{% block content %}
<div class="default">
    <p class="hello">Здравствуйте!<br>Приветствуем Вас в нашей библиотеке BIBLISH<br>-<br>Библиотеке им. Шияна!</p>
    <p class="posthello">Мы хотим порадовать клиента простым интерфейсом,<br>обширным спектром услуг и цепляющим глаз дизайном!

    <div class="privet">
        <svg class='svgCorner svgCornerTL' id='svg4' viewBox='0 0 150 150'>
            <path id='path1' d='M0 150L150 150L0 0' />
        </svg>

        <svg class='svgCorner svgCornerTR' id='svg4' viewBox='0 0 150 150'>
            <path id='path1' d='M0 150L150 150L0 0' />
        </svg>

        <svg class='svgCorner svgCornerBL' id='svg4' viewBox='0 0 150 150'>
            <path id='path1' d='M0 150L150 150L0 0' />
        </svg>

        <svg class='svgCorner svgCornerBR' id='svg4' viewBox='0 0 150 150'>
            <path id='path1' d='M0 150L150 150L0 0' />
        </svg>
    </div>
    <img src="../static/images/libr.jpg" alt="" class="librfoot">
</div>
{% endblock %}
